@import url('https://fonts.googleapis.com/css2? família=Open+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: #fff;
    height: 100vh;
    width: 100%;
}

/* início do header */
.cabecalho {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem;
    background-color: rgb(255, 255, 255);
}

.simboloAvanade {
    width: auto;
    height: 40px;
    padding-left: 30px;
}
.cabecalho .botao {
    border-radius: 30px;
    border: 0px;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(255, 88, 0);
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px, rgb(0 0 0 / 10%) 0px 5px 6px;
    transition: background-color 0.2s ease-in-out 0s;
    border: 2px solid black;
    margin-right: 30px;
    box-shadow: #ccc 10px 10px 10px;
}

.cabecalho .botao:hover{
    cursor: pointer;
    background-color: #d15d18;
}

.cabecalho .botao a {
    text-decoration: none;
    color: #fff;
}
/* fim do header */

/*início seção 1 */
.conteudo-principal .secao1 {
    width: 100%;
    max-width: 1200px;
    display: flex;
}
.secao1 .texto-secao1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.conteudo-principal .titulo{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 100px;
}

.secao1 .paragrafo-principal {
    font-size: 16px;
    text-align: justify;
    padding: 0 100px 0 100px;
}

.secao1 .div-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao1 .perfil {
    border-radius: 50%;
    width: 200px;  
    padding-top: 50px;
}
/*fim seção 1 */

/* edição da imagem do separador de cabeçalho */
.header-separador {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.separador-img {
    width: 100%;
    transform: translateY(60px);
}

/*início da seção 2 */
.secao2 {
    background-color: rgb(255, 88, 0);
    color: #fff;
    display: flex;
} 

.secao2 .display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secao2 .titulo2 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 100px;
}

.secao2 .paragrafo {
    font-size: 16px;
}


/* fim da seção 2 */
